*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boardSpan{
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    border: 1px solid black;
}
.boardLabel{
    width: 50px;
    height: 50px;
    font-size: 30px;
    padding-top: 5px;
    text-align: center;
    font-weight: bold;
}
#board{
    display: flex;
    flex-wrap: wrap;
    width: calc(9*50px);
}
.boardSpanBlue:nth-child(2n){
    background-color: #1E6EC7;
}
.boardSpanRed:nth-child(2n){
    background-color: #c92626;
}
.boardSpanGreen:nth-child(2n){
    background-color: #20972a;
}
.boardSpanGrey:nth-child(2n){
    background-color: #888888;
}
.boardSpanPurple:nth-child(2n){
    background-color: #7e0faa;
}
.boardSpanBrown:nth-child(2n){
    background-color: #83572e;
}
.boardSpanYellow:nth-child(2n){
    background-color: #FFC807;
}