*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.boardSpan{
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    border: 1px solid black;
}
.boardLabel{
    width: 50px;
    height: 50px;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}
#board{
    display: flex;
    flex-wrap: wrap;
    width: calc(9*50px);
}
.boardSpan:nth-child(20n+3){
    background-color: #1E6EC7;
}
.boardSpan:nth-child(20n+5){
    background-color: #1E6EC7;
}
.boardSpan:nth-child(20n+7){
    background-color: #1E6EC7;
}
.boardSpan:nth-child(20n+9){
    background-color: #1E6EC7;
}
.boardSpan:nth-child(20n+12){
    background-color: #1E6EC7;
}
.boardSpan:nth-child(20n+14){
    background-color: #1E6EC7;
}
.boardSpan:nth-child(20n+16){
    background-color: #1E6EC7;
}
.boardSpan:nth-child(20n+18){
    background-color: #1E6EC7;
}